:root {
  --textColor: black;
  --buttonColor: blue;
  --legendColor: blue;
  --validColor: green;
  --invalidColor: red;
  --backgroundColor: #fff;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 200;
}

header {
  background-color: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  font-weight: 500;
  gap: 30px;
  height: 150px;
}

main {
  padding: 10px;
  background-color: var(--backgroundColor);
}

h1 {
  font-size: 1.0em;
  padding: 0px;
}

h2 {
  font-size: 1.3em;
  background-color: blue;
  color: white;
  padding: 1rem;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.navigation {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 5px;
}

.navigation a {
  display: none;
  font-size: 1.3em;
  width: 100%;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: black;
}

ul {
  list-style-type: none;
  padding: 1rem;
}

li {
  line-height: 200%;
}

.navigation a:hover {
  background-color: white;
  color: black;
}

.navigation .active {
  border: 1px solid white;
}

.open a {
  display: block;
}

footer {
  background-color: blue;
  color: white;
  text-align: center;
  display: grid;
  grid-template-rows: 0.5fr 1fr auto;
  white-space: nowrap;
  padding: 10px;
  row-gap: 15px;
}

.contain4 {
  font-size: small;
}

.card {
  background-color: white;
  border: 1px solid blue;
  margin-bottom: 10px;
  margin-top: 10px;
  width: auto;
  border-radius: 13px;
}

#menu {
  font-size: 2rem;
  border: 0;
  background: none;
  color: black;
  position: absolute;
  top: 105px;
  right: 15px;
}

#menu::before {
  content: "☰";
  cursor: pointer;
}

#menu.open::before {
  content: "X";
  cursor: pointer;
}

.hero-home {
  position: relative;
  justify-items: center;
}

.home-banner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border: 1px solid var(--textColor);
  padding: 10px;
  width: 100%;
  line-height: 200%;
  text-align: center;
  min-width: 275px;
}

.home-banner p {
  text-wrap: balance;
}

.home-banner h3 {
  padding-top: 10px;
  font-size: 1.4rem;
}

.home-banner button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  float: right;
  top: 10px;
  right: 10px;
  border-radius: 13px;
  font-size: 2rem;
  background-color:white;
}

.hide {
  display: none;
}

.hero-home img {
  width: 100%;
  height: auto;
  border-radius: 13px;
}

.spotlight div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}

.spotlight p {
  text-align: center;
}

.spotlight div {
  margin: 20px;
}

.spotlight img {
  width: 130px;
  height: 130px;
}

#memberSpots section {
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
  width: 180px;
  height: 225px;
  align-items: center;
  text-align: center;
  font-size: 1.25rem;
}

.event-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.events li {
  line-height: 300%;
}

.events span {
  font-style: italic;
}

.weather {
  width: auto;
  height: 210px;
}

.weather div {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
}

.weather p {
  font-size: 1.25em;
  padding: 10px;
}

.forecast {
  display: flex;
  flex-direction: row;
  padding: 0px;
  column-gap: 10%;
}

.forecast div {
  display: flex;
  flex-direction: column;
}

.forecast p {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 0px;
}

.call {
  height: 210px;
  width: auto;
}

.call p {
  padding-top: 1rem;
  font-size: 1.5em;
  text-align: center;
}

.call a {
  padding: 1rem;
  font-size: 1em;
}


/****************************/

.discover-container1 {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
}

.discover-container1 img {
  height: auto;
  width: 100%;
  padding: 20px;
}

.infoTable {
  padding: 10px;
  line-height: 200%;
  margin: 10px 0 10px 10px;
  width: 95%;
}

.discover-container2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  justify-content: space-between;
}

.discover-container2 picture {
  border: 1px solid blue;
  padding: 5px;
}

.discover-container2 img {
  width: 100%;
  height: auto;
  vertical-align: top;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}

.discover-container2 figcaption {
  border: 1px solid blue;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  padding: 10px;
}

.coat img {
  width: 50%;
  height: auto;
}

.about {
  width: 100%;
  text-align: justify;
}

.about p {
  display: flex;
  padding: 15px;
  width: 100%;
  height: auto;
}

.visits p {
  font-size: 1.3em;
  margin: 20px 20px;
}

.demographics img {
  width: 100%;
  height: auto;
}

.otherInfo {
  width: auto;
  height: 100%;
  margin-bottom: 0px;
}

/***********Join page************/

.benefits {
  display: block;
  width: 100%;
  padding: 3rem 1rem 4rem 15%;
}

.benefits li {
  list-style-type: disc;
}

.wcf1 {
  display: block;
  align-items: center;
  width: 100%;
  padding: 1rem 5% 1rem 5%;
  gap: 0;
}

.wcf1 fieldset {
  margin: 2rem 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0.5rem 2%;
  width: 100%;
}

.wcf1 legend {
  color: var(--legendColor);
  padding: 0 0.5rem;
}

.wcf1 label {
  display: block;
  padding-top: 1rem;
  color: var(--textColor);
  font-size: 0.9rem;
}

#fname,
#lname,
#email,
#phone,
#busname,
#busdesc,
#title {
  background-color: #fafafa;
  display: block;
  border: solid 1px #999;
  border-radius: 6px;
  padding: 0.75rem;
  color: var(--textColor);
  width: 100%;
  appearance: none;
}

#submit {
  border: none;
  background: var(--buttonColor);
  color: #fff;
  border-radius: 6px;
  padding: 1rem;
  width: 100%;
  margin-top: 20px;
  box-shadow: 1px 1px 4px #999;
}

#fname:required:valid,
#lname:required:valid,
#email:required:valid,
#phone:required:valid,
#busname:required:valid,
#title:required:valid {
  border-right: solid 8px var(--validColor);
}

#fname:required,
#lname:required,
#email:required,
#phone:required,
#busname:required,
#title:required {
  border-right: solid 8px var(--invalidColor);
}

#thankyou {
  grid-template-columns: 1fr;
  padding: 3rem;
}

#thankyou h2 {
  color: var(--textColor);
  background-color: var(--backgroundColor);
  line-height: 150%;
  padding: 2rem;
  border: solid 1px var(--legendColor);
  border-radius: 13px;
}

/***********Directory page************/
#main-directory {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: center;
}

.grid section {
  margin: 20px;
  border: solid 1px var(--textColor);
  width: 350px;
  padding: 1.5rem;
}

.grid section img {
  margin-bottom: 5px;
  float: right;
}

.grid section>* {
  margin: 0.1rem;
}

h2 {
  padding-left: 0;
  padding-right: 0;
}

h2 button {
  background-color: var(--backgroundColor);
  padding: 3px;
  border-radius: 5px;
  margin-left: 10px;
}

.list {
  display: flex;
  flex-direction: column;
}

.list section {
  display: grid;
  margin: 1rem 0 0.5rem 0;
  padding: 0.25rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: left;
}

.list section>* {
  margin: 0 1rem;
}

.list section img {
  display: none;
}

.list section:nth-child(even) {
  background-color: rgba(226, 233, 248, 0.548);
}

section h3 {
  font-size: 1.5rem;
}

section a {
  font-size: 0.85rem;
  color: navy;
  letter-spacing: 1.1pt;
  white-space: nowrap;
}

#main-directory {
  grid-template-columns: 1fr;
  column-gap: 10px;
}