:root {
  --textColor: black;
  --buttonColor: blue;
  --legendColor: blue;
  --validColor: green;
  --invalidColor: red;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 200;
}

header {
  background-color: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  font-weight: 500;
  gap: 30px;
  height: 150px;
}

main {
  padding: 10px;
}

h1 {
  font-size: 1.0em;
  padding: 0px;
}

h2 {
  font-size: 1.3em;
  background-color: blue;
  color: white;
  padding: 1rem;
  text-align: center;
}

.navigation {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 5px;
}

.navigation a {
  display: none;
  font-size: 1.3em;
  width: 100%;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: black;
}

ul {
  list-style-type: none;
  padding: 1rem;
}

li {
  line-height: 200%;
}

.navigation a:hover {
  background-color: white;
  color: black;
}

.navigation .active {
  border: 1px solid white;
}

.open a {
  display: block;
}

footer {
  background-color: blue;
  color: white;
  text-align: center;
  display: grid;
  grid-template-rows: 0.5fr 1fr auto;
  white-space: nowrap;
  padding: 10px;
  row-gap: 15px;
}

.contain4 {
  font-size: small;
}

.card {
  background-color: white;
  border: 1px solid blue;
  margin-bottom: 10px;
  margin-top: 10px;
  width: auto;
}

#menu {
  font-size: 1.5rem;
  border: 0;
  background: none;
  color: black;
  position: absolute;
  top: 110px;
  right: 15px;
}

#menu::before {
  content: "☰";
  cursor: pointer;
}

#menu.open::before {
  content: "X";
  cursor: pointer;
}

.hero-home img {
  width: 100%;
  height: auto;
}

.spotlight {
  display: block;
  flex-direction: column;
}

.spotlight div {
  margin: 20px;
}

.weather {
  height: 200px;
  width: auto;

}

.weather p {
  font-size: 1.5em;
  padding: 10px;
}

.call {
  height: 200px;
  width: auto;
}

.call p {
  padding: 10px;
  font-size: 1.5em;
}

/****************************/

.discover-container1 {
  display: flex;
  flex-direction: column;

}


.discover-container1 img {
  height: auto;
  width: 100%;
}

.discover-container2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  justify-content: space-between;
}

.discover-container2 picture {
  border: 1px solid blue;
  padding: 5px;
}

.discover-container2 img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.discover-container2 figcaption {
  border: 1px solid blue;
  padding: 10px;
}

.flag img {
  width: 100%;
  height: auto;
}

.about {
  width: 100%;
  text-align: justify;
}

.about p {
  display: flex;
  padding: 15px;
  width: 100%;
  height: auto;
}

.visits p {
  font-size: 1.3em;
  margin: 20px 20px;
}

.demographics img {
  width: 100%;
  height: auto;
}

.otherInfo {
  width: auto;
  height: 100%;
  margin-bottom: 0px;
}

/***********Join page************/

.benefits {
  display: block;
  width: 100%;
  padding: 3rem 1rem 4rem 15%;
}

.benefits li {
  list-style-type: disc;
}

.wcf1 {
  display: block;
  align-items: center;
  width: 100%;
  padding: 1rem 5% 1rem 5%;
  gap: 0;
}

.wcf1 fieldset {
  margin: 2rem 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0.5rem 2%;
  width: 100%;
}

.wcf1 legend {
  color: var(--legendColor);
  padding: 0 0.5rem;
}

.wcf1 label {
  display: block;
  padding-top: 1rem;
  color: var(--textColor);
  font-size: 0.9rem;
}

#fname,
#lname,
#email,
#phone,
#busname,
#busdesc,
#title {
  background-color: #fafafa;
  display: block;
  border: solid 1px #999;
  border-radius: 6px;
  padding: 0.75rem;
  color: var(--textColor);
  width: 100%;
  appearance: none;
}

#bronze,
#silver,
#gold,
#np {
  margin: 6px;
}

#submit {
  border: none;
  background: var(--buttonColor);
  color: #fff;
  border-radius: 6px;
  padding: 1rem;
  width: 100%;
  margin-top: 20px;
  box-shadow: 1px 1px 4px #999;
}

#fname:required:valid,
#lname:required:valid,
#email:required:valid,
#phone:required:valid,
#busname:required:valid,
#title:required:valid {
  border-right: solid 8px var(--validColor);
}

#fname:required,
#lname:required,
#email:required,
#phone:required,
#busname:required,
#title:required {
  border-right: solid 8px var(--invalidColor);
}