* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 200;
}

header {
  background-color: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  font-weight: 500;
  gap: 20px;
}

main {
  margin: 5px auto;
  padding: 10px;
  max-width: 1000px;
}

h1 {
  font-size: 1.4em;
  padding: 5px;
}

h2 {
  font-size: 1.3em;
  background-color: blue;
  color: white;
  padding: 1rem;
  text-align: center;
}

.navigation {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 5px;
}

.navigation a {
  display: none;
  font-size: 1.3em;
  width: 100%;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: black;
}

ul {
  list-style-type: none;
  padding: 1rem;
}

li {
  line-height: 200%;
}

.navigation a:hover {
  background-color: white;
  color: black;
}

.navigation .active {
  border: 1px solid white;
}

.open a {
  display: block;
}

footer {
  background-color: blue;
  color: white;
  padding: 10px;
  text-align: center;
  line-height: 150%;
}

#lastModified {
  font-size: small;
}

.card {
  background-color: white;
  border: 1px solid blue;
  margin-bottom: 10px;
}

#menu {
  font-size: 1.5rem;
  border: 0;
  background: none;
  color: black;
  position: absolute;
  top: 110px;
  right: 15px;
}

#menu::before {
  content: "☰";
  cursor: pointer;
}

#menu.open::before {
  content: "X";
  cursor: pointer;
}

#darkBtn {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 25px;
  height: auto;
  cursor: pointer;
}

.dark {
  background-color: black;
}

.dark h1 {
  color: white;
}