* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 200;
}

header {
  background-color: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  font-weight: 500;
  display: flex;
  gap: 20px;
}

main {
  margin: 0 auto;
  max-width: 1000px;
}

h1 {
  font-size: 1.4rem;
  padding: 1rem;
}

h2 {
  font-size: 1.3rem;
  background-color: blue;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav {
  background-color: black;
  margin: 0 auto;
  width: 100%;
  font-size: 1.3rem;
}

nav ul {
  list-style-type: none;
}

nav a {
  display: block;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 1rem;
}

li {
  line-height: 200%;
}

nav a:hover {
  background-color: white;
  color: black;
}

nav .active {
  border: 1px solid white;
}

footer {
  background-color: blue;
  color: white;
  padding: 10px;
  text-align: center;
  line-height: 150%;
}

#lastModified {
  font-size: small;
}

.card {
  border: 1px solid blue;
  margin-bottom: 10px;
}