/* Larger Views ******************************/
@media (min-width: 640px) {
  nav ul {
    display: flex;
  }

  nav ul li {
    flex: 100%;
  }

  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 10px;
  }

    h1 {
      grid-column: 1/3;
    }
}