/* Larger Views ******************************/
@media (min-width: 640px) {
  #menu {
    display: none;
    /* hide hamburger button */
  }

  .navigation {
    flex-direction: row;
  }

  .navigation a {
    display: block;
  }

  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 10px;
  }

  h1 {
    grid-column: 1/3;
  }
}